<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="css/style.css">

</head>
<body>
    
    <h1><%= title %></h1>

    <%- include('partials/navbar.ejs')%>

    <ul>
        <% users.forEach((user) => { %>
            <li>
              Nome: <%= user.name %> <br> Email: <%= user.email %> <br> Idade: <%= user.age %> <br>
              <a href="/edit?id=<%= user._id %>">[editar]</a> -
              <a href="/remove/<%= user._id %>">[remover]</a> - 
              <a href="/confirm-delete/<%= user._id %>">Excluir</a>
            </li>
        <% }) %>
    </ul>


   <script src="js/main.js"></script>

</body>
</html>